body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

/* header section */
header {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  background-size: cover;
  background-position: center;
}
header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #f784c5;
}
header h1 {
  margin: 10px 0 5px;
}
header p {
  font-style: italic;
}

/* two column section */
.two-col {
  display: flex;
  align-items: baseline;
  gap: 425px;
  width: 93%;
  margin: auto;
  padding: 40px 40px;
  border-top: 2px solid rgba(27, 96, 47, 0.5);
  box-sizing: border-box;
}
.two-col:first-of-type {
  border-top: none;
}

.two-col .left {
  flex: 1;
  max-width: 200px;
}

.two-col .right {
  flex: 3;
}

.two-col h2 {
  margin: 0;
  padding: 0;
}

/* text style */
#about-text{
  text-align: justify;
  line-height: 1.6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  margin: 8px 0;
}

/* tags */
.skills-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-tags span {
  border: 1px solid #1b602f;
  padding: 8px 15px;
  border-radius: 15px;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background: #1b602f;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}
.button:hover {
  background: #145021;
}

/* footer */
footer {
  max-width: 95%;
  margin: 40px auto 30px ;
  background: #f784c5;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 10px 15px;
}

.footer-name {
  margin: 0;
  padding: 0;
}

.footer-name h2 {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 100px;
  font-size: 9.9rem;       /* atur biar gede */
  font-weight: 900;
  text-align: center;    /* biar tetap di tengah */
  letter-spacing: 1px;
  line-height: 0.9;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.footer-left, .footer-right {
  display: flex;
  gap: 15px;
}

.footer-left a, .footer-right a {
  border: 1px solid white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.footer-left a:hover, .footer-right a:hover {
  background: white;
  color: black;
  border-color: white;
}

